<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>

	</head>

	<body>
		<div th:fragment="navigation">
			<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark " style="background-color: #6b747d
;">
				<div class="container-fluid">
					<a class="navbar-brand" href="welcome.html" th:href="@{/}">
					<img th:src="@{/resources/images/icon.png}" src="../static/resources/images/icon.png" alt="" width="30" height="24">
					</a>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="katalog.html" th:href="@{/katalog}"
									th:text="#{nav.katalog}">Katalog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="order.html" th:href="@{/order}"
									th:text="#{nav.order}">Orders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="lieferanten.html" th:href="@{/lieferanten}" sec:authorize="hasRole('MA')"
									th:text="#{nav.lieferanten}">Lieferanten</a>
							</li>
							<li class="nav-item">

								<a class="nav-link active" aria-current="page" th:href="@{/login}" sec:authorize="!isAuthenticated()"
									th:text="#{nav.login}">Login</a>
								<form class="nav-link" sec:authorize="isAuthenticated()" th:action="@{/logout}"
									method="post">
									<button type="submit" class="ui button" th:text="#{nav.logout}">Logout</button>
								</form>
								<!--<sec:authorize access="!isAuthenticated()">
							<a class="nav-link" th:href="@{/login}" th:text="#{nav.login}">Login</a>
							</sec:authorize>
							
							<sec:authorize access="isAuthenticated()">
							<a class="nav-link" th:href="@{/logout}" th:text="#{nav.logout}">Logout</a>
							</sec:authorize>-->

							</li>

						</ul>
					</div>
				</div>
			</nav>
		</div>
		
	</body>

	</html>